---
layout: splash
#permalink: /
#permalink가 설정되어 있으면 paginate가 동작하지 않는다.
header:
  overlay_color: "#000066" # "#5e616c"
  overlay_image: /assets/images/home_background.png
  caption:
excerpt: '
A simple and easy to use game library for learning programming languages in a fun way.<br />
<small><a href="https://github.com/bosornd/bangtal/releases/tag/v0.3.1">Latest release v0.3.1</a><br />
<br />
<a href="https://github.com/bosornd/bangtal/releases/download/v0.3.1/Bangtal.msi" class="btn btn--light-outline btn--large"><i class="fa fa-download"></i> Windows Installer</a>
<a href="https://github.com/bosornd/bangtal/releases/download/v0.3.1/Bangtal.pkg" class="btn btn--light-outline btn--large"><i class="fa fa-download"></i> Mac Installer</a>
</small>
'
quick_guides:
  - image_path: /assets/images/visual_studio_logo.png
    alt: "Visual Studio Guide"
#    title: "Visual Studio Guide"
#    excerpt: "How to create a bangtal library game using Visual Studio on MS-Windows."
    url: "/docs/visual-studio-guide/"
#    btn_label: "Visual Studio"
  - image_path: /assets/images/android_studio_logo.png
    alt: "Android Studio Guide"
#    title: "Android Studio Guide"
#    excerpt: "How to create a bangtal library game (Android App) using Android Studio."
    url: "/docs/android-studio-guide/"
#    btn_label: "Android Studio"
  - image_path: /assets/images/xcode_logo.png
    alt: "Xcode Guide"
#    title: "Xcode Guide"
#    excerpt: "How to create a bangtal library game using Xcode on MacBook."
    url: "/docs/xcode-guide/"
#    btn_label: "Xcode"
  - image_path: /assets/images/python_logo.png
    alt: "Python Guide"
    url: "/docs/python-guide/"
  - image_path: /assets/images/cauMario.png
    alt: "카우마리오"
    url: "/docs/example-cauMario"
  - image_path: /assets/images/gogh.png
    alt: "고흐의 방"
    url: "/docs/example-gogh/"
  - image_path: /assets/images/hogwarts.png
    alt: "호그와트"
    url: "/docs/example-hogwarts/"
  - image_path: /assets/images/yonggam.png
    alt: "용감이 키우기"
    url: "/docs/example-yonggam/"
  - image_path: /assets/images/tetris.png
    alt: "테트리스"
    url: "/docs/example-tetris/"
---
{% include feature_row id="quick_guides" %}



<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  {% include archive-single.html %}
<!--
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
-->
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
